:root {
    --window-width: 1120px;
    --edge-padding: 1rem;
}

html {
    font-family: 'TTLakes', 'Times New Roman', serif;
    font-size: 16px;
}

h1, h2, h3 {
    margin: 0;
}

.header {
    max-width: var(--window-width);
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #D9FFF5;
    padding: 18px var(--edge-padding);
}

.main {
    max-width: var(--window-width);
    box-sizing: border-box;
}

.header__group-items {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__group-items:first-child {
    width: 153px;
}

.header__group-items:last-child {
    width: 97px;
}

.func-btn {
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 50%;
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-position: center;
    padding: 0;
}

.func-btn--pink {
    background-color: #FF3E79;
}

.func-btn--burger-menu {
    background-image: url("/practical-work-1/img/burger-menu.svg");
}

.func-btn--repair-status {
    background-image: url("/practical-work-1/img/repair-status.svg");
}

.func-btn--phone {
    background-image: url("/practical-work-1/img/handset.svg");
}

.func-btn--message {
    background-image: url("/practical-work-1/img/message.svg");
    background-position-y: 11px;
}
.func-btn--login {
    background-image: url("/practical-work-1/img/login.svg");
}

.func-btn--request {
    background-image: url("/practical-work-1/img/request.svg");
}

.func-btn--request:first-child:before {
    content: "";
    display: block;
    height: 32px;
    width: 2px;

    transform: translateX(-22px);
    background-color: #EAEAEA;
    border-radius: 1px;
}

.header__group-items:nth-child(2),
.page-headline__group-btn,
.about-us__title--hidden,
.description__paragraph:nth-child(2)
 {
    display: none;
}

.page-headline {
    display: flex;
    justify-content: space-between;
    padding: 0 var(--edge-padding);
}

.page-headline__title {
    display: flex;
    align-items: flex-end; 
    font-family: 'TTLakes-bold', sans-serif;
    letter-spacing: -0.025em;
    line-height: 90%;
    box-sizing: border-box;
    text-align: end;
    font-size: 1.75rem;
    padding-top: 16px;
    padding-bottom: 6px;
    margin-left: -4px;
}

.page-headline__title::before {
    content: "";
    display: block;
    position: relative;
    float: left;
    top: 6px;
    right: 11px;
    height: 40px;
    width: 4px;
    background-color: #41F6D7;
    border-radius: 0 12px 12px 0;
}

.page-headline__group-btn {
    width: 373px;
    justify-content: space-between;
    align-items: flex-end;
}

.page-headline__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.page-headline__item:first-child {
    width: 172px;
}
.page-headline__item:last-child {
    width: 168px;
}

.nav {
    display: flex;
    box-sizing: border-box;
    max-width: var(--window-width);
    overflow: auto;
    padding: 1.5rem var(--edge-padding);
    margin: 0;
}

.nav::-webkit-scrollbar {
    display: none;
}

.nav__item {
    color: #7e7e82;
    line-height: 240%;
    letter-spacing: -0.01em;
    text-decoration: none;
    white-space: nowrap;
    padding: 0 16px;
    margin-right: 4px;
}

.nav__item:first-child {
    box-sizing: border-box;
    line-height: 225%;
    border-radius: 5px;
    padding: 0 15px;
    border: 2px solid #B8FFEC;
}

.about-us {
    display: flex;
    flex-direction: column;
    padding: 0 var(--edge-padding);
}

.description {
    padding-bottom: 1.125rem;
}

.description__paragraph {
    font-size: 14px;
    line-height: 128%;
    letter-spacing: 0.01em;
    color: #1b1c21;
    margin: 0;
    margin-bottom: 16px;
}

.more-btn {
    width: 131px;
    padding: 0;
    text-align: end;
    line-height: 130%;
    letter-spacing: -0.01em;
    color: #1b1c21;
    border: none;
    background-color: transparent;
}

.more-btn::before {
    content: "";
    display: block;
    float: left;
    width: 8px;
    height: 10px;
    background-image: url("/practical-work-1/img/double-arrows.svg");
    transform: translate(9px, 6px);
}

.about-us__figure {
    margin: 0 -1rem;
}

@media (min-width: 768px) {
    :root {
        --edge-padding: 1.5rem;
    }
    
    .header__group-items:first-child {
        width: 179px;
    }

    .func-btn--burger-menu:first-child:after {
        content: "";
        display: block;
        height: 32px;
        width: 2px;
    
        transform: translateX(60px);
        background-color: #EAEAEA;
        border-radius: 1px;
    }

    .header__group-items:nth-child(2) {
        width: 152px;
        display: flex;
        justify-content: space-between;
        margin-left: auto;
        margin-right: 41px;
    }

    .page-headline__title {
        padding-bottom: 10px;
    }

    .page-headline__title::before {
        right: 20px;
    }
    
    .nav {
        padding: 2rem var(--edge-padding);
    }

    .nav__item {
        letter-spacing: -0.005em;
        margin-right: 0px;
    }
    
    .nav__item:nth-child(2) {
        padding: 0 12px 0 18px;
    }
    .nav__item:nth-child(4) {
        padding: 0 12px 0 22px;
    }

    .about-us {
        flex-direction: row;
        padding-bottom: 2rem;
        justify-content: space-between;
    }

    .description {
        width: 313px;
    }

    .description__paragraph {
        line-height: 140%;
        letter-spacing: 0.013em;
        margin-bottom: 20px;
    }

    .description__paragraph:nth-child(2) {
        display: flex;
        height: 40px;
        overflow: hidden;
        margin-bottom: 11px;
    }

    .about-us__figure {
        width: 50%;
        margin: 0;
    }
}

@media (min-width: 1120px)  {
    :root {
        --edge-padding: 2rem;
    }

    .header {
        display: none;
    }

    .page-headline__title {
        letter-spacing: -0.022em;
        padding-top: 18px;
        padding-bottom: 7px;
    }

    .page-headline__title::before {
        right: 30px;
    }

    .page-headline__group-btn {
        display: flex;
    }

    .nav {
        display: flex;
        flex-wrap: wrap;
        box-sizing: border-box;
        max-width: var(--window-width);
        padding: 9px var(--edge-padding);
    }

    .description {
        width: 490px;
        padding-top: 11px;
    }

    .description__paragraph {
        line-height: 143%;
        letter-spacing: 0.013em;
        margin-bottom: 20px;
    }

    .description__paragraph:nth-child(2) {
        height: auto;
        overflow: visible;
        margin-bottom: 14px;
    }
}



/* .func-btn:hover, .more-btn:hover {
    background-color: green;
}
.func-btn:focus {
    background-color: black;
}
.func-btn:active {
    background-color: yellow;
} */