:root {
    --window-width: 768px;
}

/* .header--center, 
.main--center {
    margin: 0 auto;
} */



html {
    font-family: 'TTLakes', 'Times New Roman', serif;
    font-size: 16px;
}

.menu {
    padding: 0;
    margin: 0;
}

.header {
    width: var(--window-width);
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #D9FFF5;
    padding: 1rem;
}

.menu {
    width: var(--window-width);
    box-sizing: border-box;
}

.main {
    width: var(--window-width);
    box-sizing: border-box;
}

.header__group-items {
    display: flex;
    align-items: center;
}

.header-btn {
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 50%;
    box-sizing: border-box;
}


.header__group-items:last-child::before {
    content: "";
    transform: translateX(-20px);
	height: 32px;
    width: 2px;
    background-color: #EAEAEA;
    border-radius: 1px;
}

.header-btn--pink {
    background-color: #FF3E79;
}
.header-btn--pink:not(:last-child) {
    margin-right: 1rem;
}



.burger-menu-btn {
    background-image: url("/img/burger-menu.svg");
}

.request-btn {
    background-image: url("/img/request.svg");
}

.repair-status-btn {
    background-image: url("/img/repair-status.svg");
}

.burger-menu-btn,
.request-btn,
.repair-status-btn {
    background-repeat: no-repeat;
    background-position: center;
}

.phone-btn, 
.message-btn, 
.login-btn,
.page-headline__item,
.about-us__title--hidden,
.paragraph-2
 {
    display: none;
}

.page-headline {
    padding-top: 19px;
}

.page-headline__title {
    font-family: 'TTLakes-bold', sans-serif;
    box-sizing: border-box;
    vertical-align: end;
    font-size: 1.75rem;
    margin: 0;
    padding-top: 10px;
    padding-left: 12px;
    letter-spacing: -0.025em;
    margin-bottom: 19px;
}

.page-headline__title::before {
    content: "";
    display: block;
    position: relative;
    float: left;
    margin-top: -4px;
    right: 12px;
    height: 40px;
    width: 5px;
    background-color: #41F6D7;
    border-radius: 0 12px 12px 0;
}

.menu {
    display: flex;
    box-sizing: border-box;
    overflow: auto;
    padding: 0.5rem 1rem;
}

.menu::-webkit-scrollbar {
    display: none;
}

.menu__item {
    color: #7e7e82;
    line-height: 240%;
    letter-spacing: -0.01em;
    text-decoration: none;
    white-space: nowrap;

    padding: 0 1rem;
    margin-right: 4px;
}

.menu__item:first-child {
    line-height: 225%;
    border-radius: 5px;
    padding: 0 15px;
    border: 2px solid #B8FFEC;
}

.about-us {
    display: flex;
    flex-direction: column;
    padding-bottom: 2rem;
}

.about-us__item {
    padding-left: 1rem;
    padding-right: 1rem;
}

.description {
    padding-top: 1rem;
}

.description__paragraph {
    font-size: 14px;
    line-height: 128%;
    letter-spacing: 0.01em;
    color: #1b1c21;
    margin: 0;
    margin-bottom: 1rem;
}

.description__item {
    margin-bottom: 1.125rem;
}

.more-btn {
    width: 131px;
    padding: 0;
    text-align: end;
    line-height: 130%;
    letter-spacing: -0.01em;
    color: #1b1c21;
    border: none;
    background-color: transparent;
}

.more-btn::before {
    content: "";
    display: block;
    float: left;
    width: 8px;
    height: 10px;
    background-image: url(/img/double_arrows.svg);
    transform: translate(9px, 6px);
}


/* @media screen, (min-width: 768px) and (max-width: 1119px) { */
@media screen, (min-width: 768px)  {
    
    .about-us {
        flex-direction: row;
        /* background-color: red; */
        padding-bottom: 2rem;
    }

    .description__paragraph {
        /* width: 50%; */
    }

    .about-us__figure {
        width: 360px;
        height: 208px;
    }


}



.header-btn:hover, .more-btn:hover {
    background-color: green;
}
.header-btn:focus {
    background-color: black;
}
.header-btn:active {
    background-color: yellow;
}